appdirs==1.4.3
certifi==2020.4.5.1
cffi==1.14.0
click==7.1.2
distlib==0.3.0
Flask==1.1.2
gevent==20.5.0
greenlet==0.4.15
IOTAssignmentClientdorachua==0.0.4
IOTAssignmentServerdorachua==0.0.30
IOTAssignmentUtilitiesdorachua==0.0.12
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
mysql-connector-python==8.0.20
numpy==1.17.0
pandas==0.25.0
pipenv==2018.11.26
protobuf==3.11.3
pycparser==2.20
python-dateutil==2.8.0
pytz==2019.2
readme-renderer==26.0
requests-toolbelt==0.9.1
six==1.12.0
twine==3.1.1
virtualenv==20.0.19
virtualenv-clone==0.5.3
Werkzeug==1.0.1
wincertstore==0.2
simpleaudio==1.0.4
scikit-learn==0.22.2
sklearn
scikit-learn==0.22.2
AWSIoTPythonSDK